* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: cursive, sans-serif;
	position:relative;
	height: 150px;
	top:50px;
}

h2 {
	border:1px solid black;
	width: 160px;
	height: 30px;
}

p {
	clear:both;
	height: 80%;
	width: 85%;
	position: relative;
	left:20px;
	top:20px;
}

div {
	margin:10px;
	background-color: grey;
	border:1px solid black;
	height: 180px;
	float: left;
}

#box1{
	background-color: pink;
	font-size: 20px;
	text-align: center;
	float:right;
	border-top: 0;
	border-right: 0;
}

#box2{
	background-color: red;
	font-size: 20px;
	color: white;
	text-align: center;
	float:right;
	border-top: 0;
	border-right: 0;
}

#box3{
	background-color: yellow;
	font-size: 20px;
	text-align: center;
	float:right;
	border-top: 0;
	border-right: 0;
}

@media (min-width: 992px) {
	.col-lg {
		width: 30%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1 {
		width: 45%;
	}
	.col-md-2 {
		width: 90%;
	}
}

@media (max-width: 767px) {
	.col-sm {
		width: 80%
	}
}